:host {
  display: block;
  width: 100%;
  height: 100%;
}

.map-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.map-wrapper google-map {
  display: block;
  width: 100%;
  height: 100%;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.loading-container p {
  font-size: 18px;
  color: #666;
  font-weight: 500;
}
